.image{
    background-image: url("wine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 50em;

}
.container{
  position: absolute;
  margin: 60px;
  width: 100%;
 background-color:transparent;
  
}
#nav-link1{
  text-transform: uppercase;
  color: #10750e;
  font-weight: bold;
}
#nav-link2{
  text-transform: uppercase;
  color: #10750e;
  font-weight: bold;
}
#nav-link3{
  text-transform: uppercase;
  color: #10750e;
  font-weight: bold;
}

.logoImage{
    height: 180px;
    margin-left: 20px;
}
.icons{
    position: absolute;
    top: -1px;
    right: 10px;
    padding: 15px;
}
.carousel{
   position: absolute;
   top: -35em;
   left: 8em;
   padding-bottom: 30px;
}

@media screen and (max-width:1000px){
  .logoImage{
    margin-left: -5em;
  }
  #button{
    margin-right: 5.5em;
  }
  .icons{
    margin-right:4em;
  }
  .nav-item{
    margin-left: 10em;
  }
  .carousel{
      position: absolute;
      top: -30em;
      left:-2em;
      width: 85%;
  }

}