.image{
    background-image: url("wine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 150em;
}
.container{
    position: absolute;
    margin: 60px;
    width: 100%;
    top: -60px;
    background-color:transparent;
    
  }
#carouselExampleIndicators{
    margin-top: 15em;
    margin-left: 5em;
    border: 6px double rgb(20, 151, 20);
  
 }
 .flex-container {
     display: flex;
     flex-direction: row;
     position: absolute;
     margin: 60px;
     top: 0em;
     background-color:transparent;
     width: 80%;
     left: 6em;
     border-radius: 10px;
     box-shadow: 0px 0px 10px #000;
   }
   h3{
     font-family:Brush Script MT;
     color: rgb(20, 151, 20);
     font-size: 40px;
     margin-left:30px;
     margin-top: 30px;
   }
   p{
     font-family:Times New Roman;
     font-size: 20px;
     font-weight: 400;
     margin-left:30px;
     margin-top: 30px;
   }
 
 #carouselExampleControls{
     margin-top: 35em;
     margin-bottom: 3em;
     margin-left: 15em;
     border: 6px double rgb(20, 151, 20);
     width: 120%;
   }
 
   .softcard {  width: 316px;  height: fit-content;
     background: -webkit-linear-gradient(to right, rgb(20, 151, 20), #10750e);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #04b849, #1f8904); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     border-radius: 20px;  box-shadow: 0px 0px 10px #000;
     margin-top: 40px;margin-right: 50px;
 
   }
   
   .calendar-bar {  display: flex;  justify-content: space-between;
     align-items: center;  padding: 20px;  padding-bottom: 15px;
     border-bottom: 19px;
   }
   
   .calendar-bar > .current-month {
     font-size: 20px;  font-weight: bold;  color: #ddd;
     background:#000;  padding:5px;  border-radius:10px;
   }
   
   .calendar-bar > [class$="soft-btn"] {
     width: 40px;  aspect-ratio: 1;  text-align: center;
     line-height: 40px;  font-size: 14px;  color: #000;
     background: #ddd;  border: none;  border-radius: 50%;
   }
   
   .weekdays-name,
   .calendar-days {  display: flex;  flex-wrap: wrap;  padding-inline:18px;}
   .weekdays-name {  padding-top: 12px;}
   
   .calendar-days {  padding-bottom: 12px;}
   
   .days-name,
   [class$="-day"] {  width: 40px;  height: 40px;  color: #000;  text-align: center;
     line-height: 40px;  font-weight: 500;  font-size: 1rem;
   }
   
   .days-name {  color: #fff;  font-weight: 700;}
   
   .current-day {
     background-color: #000;  color: #fff;
     border-radius: 50%;  font-weight: 700;  transition: 0.5s;  cursor: pointer;
   }
   
   .padding-day {
     color: #a5a5a5;  user-select: none;
   }
   
   .calendar-bar > [class$="soft-btn"]:hover,
   .month-day:hover,
   .btn:hover {
     border-radius:5px;  background-color:#f8f7fa;  color:#000;  border-radius:15px;
     transition: 0.1s;  cursor: pointer;
    
   }
   
   .calendar-bar > [class$="soft-btn"]:focus,
   .month-day:focus,
   .btn:focus {  border-radius:15px;  background-color: #000;  color: #ddd;
   }
   
   .goto-buttons {
     border-top: solid 2px yellow;  padding-block: 18px;  display: flex;
     justify-content: space-evenly;
   }
 footer{
   position: absolute;
   top: 70em;
   background-color: #00000000;
   width: 100%;
   height: 80px;
   box-shadow: 2px 2px 10px #000;
   border-radius: 7px;
 }
 .email{
   text-transform: uppercase;
   color: #1f8904;
   margin:20em;
   font-weight: bold;
 }
 .text{
   color: #2dc008;
   font-weight: bold;
   margin:30em;
 }
 @media screen and (max-width:1000px){
   #carouselExampleControls{
       position: absolute;
       top: 10em;
       left:-13em;
       width: 85%;
   }
   .flex-container{
     display: flex;
     flex-direction: column;
     position: absolute;
     left: -2em;
     top:0em;
     width: 90%;
   }    
 
   .softcard{
     position: absolute;
      top:62em;
      left: 1em;
 
   }
   footer{
     position: absolute;
     top: 100em;
     height: fit-content;
     margin-bottom: 20em;
   }
   .text{
     font-size: small; margin-left: 90px;padding-left: 4px;
 
   }
 }